/* float
    블럭요소들을 옆으로 나열할 때 사용
    -float: left(right)
    단점 : 해당 요소가 떠 있는 상태가 되어 다음 요소들이 뒤로 숨어버림
        해결 방법
        1) overflow:hidden;
        2) clear:both;
        3) 가상요소 사용(추천)
    현재는 거의 사용 안함
            
*/
.picture {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.picture img {
  vertical-align: top;
}

p {
  border: 10px solid black;
}
