div {
  width: 200px;
  height: 200px;
  background-color: orangered;
  /* 좌우 남은 공간을 자동으로 채우는 방식 -> 가운데 맞춤 */
  /* margin: 0 auto; */
  /* border: 두께 종류 색상 */
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  /* 요소 크기 = 224px */
}

div {
  width: 200px;
  height: 200px;
  background-color: orangered;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.circle {
  /* 너비300, 높이300, 글자색 white, 글자크기 5em, 글자 가운데 정렬, 테두리 2px 실선 검은색 */
  width: 300px;
  height: 300px;
  color: white;
  font-size: 5em;
  text-align: center;
  border: 2px solid black;
  /* content를 원으로 만들고 싶어 (보더를 꺾는거임)*/
  border-radius: 50%;
  /* text-align: center;는 좌우가운데정렬, 상하도 가운데 정렬하고싶어 */
  line-height: 300px;
  padding: 0;
}
