[type="radio"]:checked + label {
  color: tomato;
}

[type="radio"]:disabled + label {
  color: darkmagenta;
  text-decoration: underline;
}

[type="radio"]:enabled + label {
  text-decoration: line-through;
}

[type="text"]:focus {
  width: 100%;
  padding: 5px 10px;
  background-color: rosybrown;
  outline: 2px solid burlywood;
}

[type="text"]:required {
  border-color: darkblue;
}
