* {
  margin: 0;
  padding: 0;
}

.container {
  height: 400px;
  border: 2px double darkcyan;

  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: baseline; */
  align-content: center;
}
.container div {
  width: 200px;
  height: 100px;
  border: 2px dashed black;
}

.container div:first-child {
  background-color: darkorchid;
}

.container div:nth-child(2) {
  background-color: antiquewhite;
}

.container div:nth-child(3) {
  background-color: darkgreen;
  font-size: 30px;
}

.container div:nth-child(4) {
  background-color: slategrey;
  height: 80px;
}

.container div:nth-child(5) {
  background-color: aquamarine;
  height: 60px;
}

.container div:last-child {
  background-color: yellowgreen;
}
