* {
  margin: 0;
  padding: 0;
}

.container {
  height: 700px;
  border: 2px double darkcyan;

  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap-reverse; */
  /* justify-content: space-between; */
}
.container div {
  width: 200px;
  height: 100px;
  border: 2px dashed black;
}

.container div:first-child {
  background-color: darkorchid;
}

.container div:nth-child(2) {
  background-color: antiquewhite;
}

.container div:nth-child(3) {
  background-color: darkgreen;
}

.container div:nth-child(4) {
  background-color: slategrey;
}

.container div:nth-child(5) {
  background-color: aquamarine;
}

.container div:last-child {
  background-color: yellowgreen;
}
