* {
  margin: 0;
  padding: 0;
}

.container {
  border: 4px solid black;
  display: flex;
}

.container .item {
  height: 100px;
  background-color: tomato;
  border: 4px dashed red;
  white-space: nowrap;
  border-radius: 10%;
  /* flex-basis: 200px;
  flex-grow: 1;
  flex-shrink: 1; */
  flex: 1 1 auto;
}
