* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}
.container div {
  margin: 0 2px;
  width: 33.3%;
  height: 200px;
  background-color: darkmagenta;
  /* display: inline-block; */
}

/* 자식요소에 속성적용 */

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
}
