/* grid 레이아웃
    1) 부모에 적용하는 grid
        display:grid
        grid-template-columns: 컬럼 너비 지정
        grid-template-rows: 행 크기 지정
        grid-auto-rows: 전체적으로 지정 가능
        gap: 컬럼 사이의 간격
        justify-items
        align-items

    2) 자식한테 적용하는 grid
        grid-column(row): 시작위치 / 끝위치 (끝위치 지정 시 끝위치까지 늘려줘)
        justify(align)-self: 본인 영역 안에서 자신의 정렬 지정
*/
.container {
  padding: 0.8em;
  background-color: lightgray;
  display: grid;
  /* grid-template-columns: 100px 200px 300px; */
  /* grid-template-columns: 30% 70%; <- gap 주니 나가네 */
  /* grid-template-columns: 3fr 7fr; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: 100px 1fr 2fr; */
  /* grid-template-rows: 1fr 2fr 3fr 1fr 4fr; */
  /* 행이 가변할때 */
  grid-auto-rows: 160px;
  gap: 1em;
  /* justify-items: end; */
  /* align-items: center; */
}

.container > div {
  padding: 1em;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: slateblue;
}

.container > div > span {
  display: none;
}

.container > div:first-child {
  /* grid-column: 2; */
  /* grid-column: 1 / span 3; */
  /* grid-column: 1 / -1; */
  /* grid-column: 2 / -2; */
  grid-row: 1 / 5;
}

.container > div:nth-child(2) {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
}

.container > div:nth-child(3) {
  justify-self: end;
  align-self: end;
}
