body {
  padding-top: 100px;
}

.container {
  width: 500px;
  height: 300px;
  margin: 0;
  background-color: yellow;
  position: relative;
}

.box {
  /* width: 100px; */
  height: 100px;
  position: absolute;
}
.a {
  background-color: red;
  /* left: -100px;
  top: 100px; */
  left: 0%;
  top: 100px;
}
.b {
  background-color: green;
  right: 200px;
  top: 100px;
}
.c {
  background-color: blue;
  left: 100%;
  bottom: 100px;
}
