* {
  margin: 0;
  padding: 0;
}

.box {
  border: 1px solid black;
  padding: 10px;
  position: relative;
}

.a {
  background-color: blue;
  left: 50px;
  top: 50px;
}

.b {
  background-color: red;
  left: 50px;
  top: 50px;
}
