* {
  margin: 0;
  padding: 0;
}

#wrapper {
  display: grid;
  gap: 12px;
}

#wrapper > * {
  padding: 1em;
  font-size: 1.2em;
  color: royalblue;
  font-weight: bold;
  background-color: lightblue;
}

header {
  min-width: 80px;
  position: relative;
}

nav ul {
  padding-left: 0.5em;
}

nav li {
  display: inline-block;
  margin-right: 1em;
  color: #333;
}

#menu {
  line-height: 64px;
  color: #333;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  height: 64px;
  line-height: 64px;
  cursor: pointer;
}

main div {
  margin: 1em;
  padding: 1em;
  height: 67vh;
  color: #333;
  font-weight: normal;
  background-color: yellow;
}

@media (max-width: 768px) {
  /* nav 숨기기 */
  nav {
    display: none;
  }
  /* 메뉴 글자에 hover하면 nav 보여주기(오른쪽정렬) */
  #menu:hover + nav {
    display: inherit;
    text-align: right;
  }

  #menu:hover + nav li {
    display: block;
    padding: 0.6em;
  }
}

@media (min-width: 769px) {
  /* grid 지정 및 서식 지정 */
  #wrapper {
    grid-template-columns: 200px 1fr;
  }

  /* 메뉴 글자 숨기기 */
  #menu {
    display: none;
  }

  /* 개별 요소 grid 서식 지정 */
  header {
    grid-column: 1 / -1;
  }
  footer {
    grid-column: -3 / -1;
  }
}
