/* header h1 : font 크기 3em, 가운데 정렬 */
body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 3em;
}

#menus > div {
  height: 400px;
  position: relative;
}

/* menus h2 : padding 5px, font크기 2em, color white */
#menus h2 {
  padding: 5px;
  font-size: 2em;
  color: white;
  text-shadow: 3px 3px 5px black;
  position: absolute;
  right: 3%;
  bottom: 10px;
}

/* menu1 배경이미지 dish1.jpg */
/* menu2 배경이미지 dish2.jpg ~ 5까지 */
#menu1 {
  background: url(../images/dish1.jpg) no-repeat center;
  background-size: cover;
}
#menu2 {
  background: url(../images/dish2.jpg) no-repeat center;
  background-size: cover;
}
#menu3 {
  background: url(../images/dish3.jpg) no-repeat center;
  background-size: cover;
}
#menu4 {
  background: url(../images/dish4.jpg) no-repeat center;
  background-size: cover;
}
#menu5 {
  background: url(../images/dish5.jpg) no-repeat center;
  background-size: cover;
}

/* footer 글자크기 1.2em, 글자색 #eee, 가운데 정렬, 높이 200px */
footer {
  font-size: 1.2em;
  color: #eee;
  height: 200px;
  text-align: center;
  background-color: yellowgreen;
}

@media (min-width: 768px) {
  #menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #menu1,
  #menu2,
  #menu3,
  #menu4,
  #menu5 {
    width: 49%;
    box-sizing: border-box;
    margin-top: 1%;
  }

  #menu5 {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  #menu1,
  #menu2,
  #menu3,
  #menu4,
  #menu5 {
    width: 33%;
    margin-top: 0.5%;
  }
  #menu5 {
    flex: 2;
    margin-left: 0.5%;
  }
}
