/* 전체 페이지 여백 0 / 컨텐츠 크기 border포함*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 문서 배경색 : rgb(9,100,160) */
body {
  background-color: rgb(9, 100, 160);
}

/* container크기 : 320, margin:상하 50 가운데 정렬 */
#container {
  width: 320px;
  margin: 50px auto;
}

/* card 너비 300 높이 500 margin 상하20 좌우10 테두리 1, 배경색 white*/
.card {
  width: 300px;
  height: 500px;
  margin: 20px 10px;
  border: 1px solid black;
  background-color: white;
  position: relative;
}

/* words 안쪽여백 10, 가운데 정렬 */
.words {
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 300px;
  left: 100px;
}

@media (min-width: 1720px) {
  #container {
    width: 1710px;
    display: flex;
  }
  .card {
    width: 550px;
    height: 250px;
    margin: 10px;
  }

  .words {
    top: 65px;
    left: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1719px) {
  #container {
    width: 570px;
  }
  .card {
    width: 550px;
    height: 250px;
    margin: 10px;
  }

  .words {
    top: 65px;
    left: 300px;
  }
}
