p {
  /* background-color: aqua; */
  background-color: rgb(0, 255, 0);
  /* color: #000; =#000000 */
  /* color: rgb(255, 255, 255); red, green, blue */
  /* color: rgba(128, 0, 255, 0.5); a: 투명도 */
  color: hsl(120, 0, 100%);
}
